<div class="row">
  <div class="col m12" style="background-color: cyan;">This div is 12-columns wide on all screen sizes</div>
  <div class="col m6" style="background-color: yellow;">6-columns (one-half)</div>
  <div class="col m6" style="background-color: yellowgreen;">6-columns (one-half)</div>
</div>

<div class="row">
  <div class="col m12" style="background-color: cyan;">This div is 12-columns wide on all screen sizes</div>
  <div class="col m6 offset-m6" style="background-color: yellowgreen;">6-columns (offset-by-6)</div>
</div>

<div class="row">
  <div class="col m8 offset-m2" style="background-color: cyan;">8-columns (offset-by-2)</div>

  <div class="col m4 offset-m2" style="background-color: yellow;">4-columns (one-half)</div>
  <div class="col m4" style="background-color: yellowgreen;">4-columns (one-half)</div>

  <div class="col m2 offset-m2" style="background-color: orange;">2-columns (one-quarter)</div>
  <div class="col m2" style="background-color: burlywood;">2-columns (one-quarter)</div>
  <div class="col m4" style="background-color: palegoldenrod;">4-columns (one-half)</div>

  <div class="col m2 offset-m2" style="background-color: orange;">2-columns (one-quarter)</div>
  <div class="col m2" style="background-color: burlywood;">2-columns (one-quarter)</div>
  <div class="col m2" style="background-color: palegoldenrod;">2-columns (one-half)</div>
  <div class="col m2" style="background-color: palegreen;">2-columns (one-half)</div>

  <div class="col m1 offset-m2" style="background-color: orange;">1-column</div>
  <div class="col m1" style="background-color: burlywood;">1-column</div>
  <div class="col m1" style="background-color: palegoldenrod;">1-column</div>
  <div class="col m1" style="background-color: palegreen;">1-column</div>
  <div class="col m1" style="background-color: palevioletred;">1-column</div>
  <div class="col m1" style="background-color: paleturquoise;">1-column</div>
  <div class="col m1" style="background-color: peru;">1-column</div>
  <div class="col m1" style="background-color: plum;">1-column</div>

  <div class="col m2 offset-m2" style="background-color: orange;">2-columns (one-quarter)</div>
  <div class="col m4" style="background-color: burlywood;">4-columns (one-quarter)</div>
  <div class="col m2" style="background-color: palegoldenrod;">2-columns (one-half)</div>

  <div class="col m3 offset-m2" style="background-color: orange;">3-columns (one-quarter)</div>
  <div class="col m2" style="background-color: burlywood;">2-columns (one-quarter)</div>
  <div class="col m3" style="background-color: palegoldenrod;">3-columns (one-half)</div>
</div>

<div class="row">
  <div class="col m6 offset-m3" style="background-color: cyan;">
    <div class="row">
      <div class="col m3" style="background-color: yellow;">3-columns</div>
      <div class="col m3" style="background-color: yellowgreen;">3-columns</div>
      <div class="col m3" style="background-color: burlywood;">3-columns</div>
      <div class="col m3" style="background-color: yellow;">3-columns</div>
    </div>
    <div class="row">
      <div class="col m3" style="background-color: yellowgreen;">3-columns</div>
      <div class="col m6" style="background-color: burlywood;">6-columns</div>
      <div class="col m3" style="background-color: yellowgreen;">3-columns</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col m6 offset-m3" style="background-color: cyan;">
    <div class="row">
      <div class="col m6 offset-m3" style="background-color: yellowgreen;">
        <div class="row">
          <div class="col m1" style="background-color: orange;">1</div>
          <div class="col m1" style="background-color: burlywood;">1</div>
          <div class="col m1" style="background-color: palegoldenrod;">1</div>
          <div class="col m1" style="background-color: palegreen;">1</div>
          <div class="col m1" style="background-color: palevioletred;">1</div>
          <div class="col m1" style="background-color: paleturquoise;">1</div>
          <div class="col m1" style="background-color: peru;">1</div>
          <div class="col m1" style="background-color: plum;">1</div>
          <div class="col m1" style="background-color: orange;">1</div>
          <div class="col m1" style="background-color: burlywood;">1</div>
          <div class="col m1" style="background-color: palegoldenrod;">1</div>
          <div class="col m1" style="background-color: palegreen;">1</div>
          <div class="col m1" style="background-color: orange;">1</div>
          <div class="col m1" style="background-color: burlywood;">1</div>
          <div class="col m1" style="background-color: palegoldenrod;">1</div>
          <div class="col m1" style="background-color: palegreen;">1</div>
          <div class="col m1" style="background-color: palevioletred;">1</div>
          <div class="col m1" style="background-color: paleturquoise;">1</div>
          <div class="col m1" style="background-color: peru;">1</div>
          <div class="col m1" style="background-color: plum;">1</div>
          <div class="col m1" style="background-color: orange;">1</div>
          <div class="col m1" style="background-color: burlywood;">1</div>
          <div class="col m1" style="background-color: palegoldenrod;">1</div>
          <div class="col m1" style="background-color: palegreen;">1</div>
        </div>
      </div>
    </div>
  </div>
</div>