<h6>Row (12-columns wide on all screen sizes)</h6>
<div class="row">
  <div class="col l12 m12 s12" style="background-color: red;">12 columns</div>
  <div class="col l6 m6 s6" style="background-color: yellow;">6 columns</div>
  <div class="col l6 m6 s6" style="background-color: yellowgreen;">6 columns</div>
</div>

<h6>Row (10-columns wide on all screen sizes)</h6>
<div class="row">
  <div class="col l10 offset-l1 m10 offset-m1 s10 offset-s1" style="background-color: red;">10-columns</div>
  <div class="col l5 offset-l1 m5 offset-m1 s5 offset-s1" style="background-color: yellow;">5-columns (offset-by-1)
  </div>
  <div class="col l5 m5 s5" style="background-color: yellowgreen;">5-columns</div>
  <div class="col l5 offset-l6 m5 offset-m6 s5 offset-s6" style="background-color: yellowgreen;">5-columns (offset-by-6)
  </div>
</div>

<h6>Row (8-columns wide on all screen sizes)</h6>
<div class="row">
  <div class="col l8 offset-l2 m8 offset-m2 s8 offset-s2" style="background-color: red;">8-columns (offset-by-2)</div>

  <div class="col l4 offset-l2 m4 offset-m2 s4 offset-s2" style="background-color: yellow;">4</div>
  <div class="col l4 m4 s4" style="background-color: yellowgreen;">4</div>

  <div class="col l2 offset-l2 m2 offset-m2 s2 offset-s2" style="background-color: red;">2</div>
  <div class="col l2 m2 s2" style="background-color: orange;">2</div>
  <div class="col l2 m2 s2" style="background-color: yellow;">2</div>
  <div class="col l2 m2 s2" style="background-color: yellowgreen;">2</div>

  <div class="col l1 offset-l2 m1 offset-m2 s1 offset-s2" style="background-color: red;">1</div>
  <div class="col l1 m1 s1" style="background-color: orange;">1</div>
  <div class="col l1 m1 s1" style="background-color: yellow;">1</div>
  <div class="col l1 m1 s1" style="background-color: yellowgreen;">1</div>
  <div class="col l1 m1 s1" style="background-color: lightblue;">1</div>
  <div class="col l1 m1 s1" style="background-color: rgb(0, 145, 255);">1</div>
  <div class="col l1 m1 s1" style="background-color: blue;">1</div>
  <div class="col l1 m1 s1" style="background-color: violet;">1</div>
</div>

<h6>Row (6-columns wide on all screen sizes)</h6>
<div class="row">
  <div class="col l6 offset-l1 col m6 offset-m1 col s6 offset-s1" style="background-color: transparent;">
    <div class="row">
      <h6>Inner row (12-columns wide on all screen sizes)</h6>
      <div class="col l3 m3 s3" style="background-color: red;">3</div>
      <div class="col l3 m3 s3" style="background-color: orange;">3</div>
      <div class="col l3 m3 s3" style="background-color: yellow;">3</div>
      <div class="col l3 m3 s3" style="background-color: yellowgreen;">3</div>
      <div class="col l3 m3 s3" style="background-color: red;">3</div>
      <div class="col l9 m9 s9" style="background-color: yellow;">9</div>
    </div>
  </div>
</div>

<h6>Row (12-columns wide on all screen sizes)</h6>
<div class="row">
  <div class="col l12 m12 s12" style="background-color: orangered">Menu</div>
  <div class="col l3 m3 s3" style="height: 200px; background-color: lightgray">Navigation panel</div>
  <div class="col l9 m9 s9" style="height: 200px; background-color: teal">Content</div>
</div>

<h6>Responsive grid</h6>
<div class="row">
  <div class="col s12" style="border: 1px solid; background-color: lightblue"><p>s12</p></div>
  <div class="col s12 m4 l2" style="border: 1px solid; background-color: teal"><p>s12 m4 l2</p></div>
  <div class="col s12 m4 l8" style="border: 1px solid; background-color: teal"><p>s12 m4 l8</p></div>
  <div class="col s12 m4 l2" style="border: 1px solid; background-color: teal"><p>s12 m4 l2</p></div>
  <div class="col s12 m6 l3" style="border: 1px solid; background-color: violet"><p>s12 m6 l3</p></div>
  <div class="col s12 m6 l3" style="border: 1px solid; background-color: violet"><p>s12 m6 l3</p></div>
  <div class="col s12 m6 l3" style="border: 1px solid; background-color: violet"><p>s12 m6 l3</p></div>
  <div class="col s12 m6 l3" style="border: 1px solid; background-color: violet"><p>s12 m6 l3</p></div>
</div>