<div class="row">
    <div class="col m6 offset-m1">
        <h3>Standard tables</h3>
    </div>
</div>

<app-table-customers></app-table-customers>

<app-table-balance-sheet></app-table-balance-sheet>

<app-table-profit-lost></app-table-profit-lost>

<app-responsive-table></app-responsive-table>

<hr>

<div class="row">
    <div class="col m6 offset-m1">
        <h3>Ag-grid-angular tables</h3>
    </div>
</div>

<app-table-athletes></app-table-athletes>

<app-table-athletes-group></app-table-athletes-group>

<app-table-stock></app-table-stock>

<app-table-finance1></app-table-finance1>

<app-table-finance2></app-table-finance2>