<div class="row" style="padding-left: 10px;">
    <div class="col s3">
        <a class="waves-effect waves-light btn" (click)="localStorageClearData()">Local storage</a>
    </div>
</div>
<div class="row" style="padding-left: 10px;"> 
    <div class="col s3"> 
        <a class="waves-effect waves-light btn" (click)="localStorageSaveData()">Local storage (save)</a>
    </div> 
    <div class="col s3">
        <a class="waves-effect waves-light btn" (click)="localStorageLoadData()">Local storage (load)</a>
    </div>
</div>
<div class="row" style="padding-left: 10px;"> 
    <div class="col s4"> 
        <a class="waves-effect waves-light btn" (click)="localStorageSavePokemon()">Local storage (save pokemon)</a>
    </div> 
    <div class="col s4">
        <a class="waves-effect waves-light btn" (click)="localStorageLoadPokemon()">Local storage (load pokemon)</a>
    </div>
</div>

<div class="row" style="padding-left: 10px;">
    <div class="col s3">
        <a class="waves-effect waves-light btn" (click)="sessionStorageClearData()">Session storage</a>
    </div>
</div>
<div class="row" style="padding-left: 10px;"> 
    <div class="col s3"> 
        <a class="waves-effect waves-light btn" (click)="sessionStorageSaveData()">Session storage (save)</a>
    </div> 
    <div class="col s3">
        <a class="waves-effect waves-light btn" (click)="sessionStorageLoadData()">Session storage (load)</a>
    </div>
</div>

<div class="row" style="padding-left: 10px;">
    <div class="col s3">
        <a class="waves-effect waves-light btn" (click)="createCookie()">Create cookie</a>
    </div>
    <div class="col s3">
        <a class="waves-effect waves-light btn" (click)="getCookie()">Get cookie</a>
    </div>
    <div class="col s3">
        <a class="waves-effect waves-light btn" (click)="getAllCookies()">Get All cookies</a>
    </div>
</div>

