<div class="row">
    <div class="col s6 offset-s1">
        <table class="numbers table3">
            <thead>
                <tr class="header">
                    <th class="name">Name</th>
                    <th>Volume</th>
                    <th>Revenue</th>
                    <th>Expenses</th>
                    <th>Profit/lost</th>
                    <th>Margin</th>
                </tr>
            </thead>
            <tbody>
                <tr class="awful">
                    <td>Publisher 1</td>
                    <td class="number">90</td>
                    <td class="money">$540.00</td>
                    <td class="money">$600.00</td>
                    <td class="money">($60.00)</td>
                    <td class="percent">-10.00% <i class="icon-down-bold"></i></td>
                </tr>
                <tr class="awful">
                    <td>Publisher 2</td>
                    <td class="number">10</td>
                    <td class="money">$100.00</td>
                    <td class="money">$120.00</td>
                    <td class="money">($20.00)</td>
                    <td class="percent">-16.67% <i class="icon-arrow-combo"></i></td>
                </tr>
                <tr class="good">
                    <td>Publisher 3</td>
                    <td class="number">45</td>
                    <td class="money">$450.00</td>
                    <td class="money">$300.00</td>
                    <td class="money">$150.00</td>
                    <td class="percent">50.00% <i class="icon-up-bold"></i></td>
                </tr>
                <tr class="marginal">
                    <td>Publisher 4</td>
                    <td class="number">25</td>
                    <td class="money">$400.00</td>
                    <td class="money">$300.00</td>
                    <td class="money">$100.00</td>
                    <td class="percent"><i class="fas fa-caret-up me-1"></i>33.33% <i class="icon-up-bold"></i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="summary">
                    <td>Summary</td>
                    <td class="number">170</td>
                    <td class="money">$1,490.00</td>
                    <td class="money">$1,320.00</td>
                    <td class="money">$170.00</td>
                    <td class="percent">12.88%</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>