<div class="row">
    <div class="col m6 offset-m1">
        <h4>Customers</h4>
        <table class="striped">
            <thead>
                <tr>
                    <th>Customer name</th>
                    <th>Product name</th>
                    <th>Product price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Alvin Johnson</td>
                    <td>Eclair</td>
                    <td>$0.87</td>
                </tr>
                <tr>
                    <td>Alan Connelly</td>
                    <td>Jellybean</td>
                    <td>$3.76</td>
                </tr>
                <tr>
                    <td>Jonathan Spencer</td>
                    <td>Lollipop</td>
                    <td>$7.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
