<div class="row">
    <div class="col s6 offset-s1">
        <table id="sheet">
            <caption>Balance Sheet</caption>
            <thead>
                <tr id="header">
                    <th>Years</th>
                    <th>2019</th>
                    <th>2020</th>
                    <th class="current">2021</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="4">Assets</th>
                </tr>
                <tr>
                    <td>
                        <span class="name">Cash</span><span class="notes">(this is the cash we currently have on hand)</span>
                    </td>
                    <td>$25</td>
                    <td>$30</td>
                    <td class="current">$28</td>
                </tr>
                <tr>
                    <td>
                        <span class="name">Checking</span><span class="notes">(our primary transactional account)</span>
                    </td>
                    <td>$54</td>
                    <td>$56</td>
                    <td class="current">$53</td>
                </tr>
                <tr>
                    <td>
                        <span class="name">Savings</span><span class="notes">(funds set aside for emergencies)</span>
                    </td>
                    <td>$500</td>
                    <td>$650</td>
                    <td class="current">$728</td>
                </tr>
                <tr class="total">
                    <td class="name">Total</td>
                    <td>$579</td>
                    <td>$736</td>
                    <td class="current">$809</td>
                </tr>
                <tr>
                    <th colspan="4">Liabilities</th>
                </tr>
                <tr>
                    <td>
                        <span class="name">Loans</span><span class="notes">(the outstanding balance on our startup loan)</span>
                    </td>
                    <td>$500</td>
                    <td>$250</td>
                    <td class="current">$0</td>
                </tr>
                <tr>
                    <td>
                        <span class="name">Expenses</span><span class="notes">(annual anticipated expenses, such as payroll)</span>
                    </td>
                    <td>$200</td>
                    <td>$300</td>
                    <td class="current">$400</td>
                </tr>
                <tr>
                    <td>
                        <span class="name">Credit</span><span class="notes">(the outstanding balance on our credit card)</span>
                    </td>
                    <td>$50</td>
                    <td>$50</td>
                    <td class="current">$75</td>
                </tr>
                <tr class="total">
                    <td class="name">Total</td>
                    <td>$750</td>
                    <td>$600</td>
                    <td class="current">$475</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
