<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s2"><a href="#tabGrids">Grids</a></li>
            <li class="tab col s2"><a href="#tabButtons">Buttons</a></li>
            <li class="tab col s2"><a href="#tabControls">Controls</a></li>
            <li class="tab col s2"><a class="active" href="#tabTables">Tables</a></li>
            <li class="tab col s2"><a href="#tabCards">Cards</a></li>
            <li class="tab col s2"><a href="#tabCarousel">Carousel & images</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div id="tabGrids">
        <app-grids></app-grids>
    </div>

    <div id="tabButtons">
        <app-buttons></app-buttons>
    </div>

    <div id="tabControls">
        <app-controls></app-controls>
    </div>

    <div id="tabTables">
        <app-tables></app-tables>
    </div>

    <div id="tabCards">
        <app-cards></app-cards>
    </div>

    <div id="tabCarousel">
        <app-carousel></app-carousel>
    </div>
</div>